<!DOCTYPE html>
<html>
<head>
	<title>Github Score</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<script type="text/x-handlebars">
		어플이당
	</script>
	<%= javascript_include_tag "application" %>
</body>
</html>